<div class="header1">
    <a href="/" class="bold">Хабр</a>
    <a href="/articles/howbeauthor">Как стать автором?</a>
</div>

<div class="header2">
    <a class="header2_p" href="/category/all">Все потоки</a>
    <a class="header2_p" href="/category/dev">Разработка</a>
    <a class="header2_p" href="/category/admin">Администрирование</a>
    <a class="header2_p" href="/category/design">Дизайн</a>
    <a class="header2_p" href="/category/marketing">Маркетинг</a>
</div>