<div class="header1">
    <a href="/" class="bold">Хабр</a>
    <a href="/articles/howbeauthor">Как стать автором?</a>
</div>

<div class="header2">
    <a class="header2_p" href="/category/all/week">Все потоки</a>
    <a class="header2_p" href="/category/dev/week">Разработка</a>
    <a class="header2_p" href="/category/admin/week">Администрирование</a>
    <a class="header2_p" href="/category/design/week">Дизайн</a>
    <a class="header2_p" href="/category/marketing/week">Маркетинг</a>
</div>