<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    {{> style}}
    {{> mediastyle}}
</head>
<body>
    {{> header}}

    <div class="infoofblock">
        <p class="p_infoofblock">Все потоки</p>
        <a href="" class="span_a">За сегодня</a>
        <a href="" class="span_a">За неделю</a>
    </div>

    <div class="mainblock">
        <div class="article">
            <div class="row author_row">
                <span class="author_span">Alexander428</span>
                <span class="time_span">сегодня в 11:49</span>
            </div>
            <div class="row title_row">
                <span class="title_span">Эволюция разумна?</span>
            </div>
            <div class="row tags_row">
                <span class="tags_span">Rust, Биология, ИИ</span>
            </div>
            <div class="row text_row">
                <span class="text_row">
                    Приветствую, хабрчане! Сегодня речь пойдёт об одном, на мой взгляд, интересном варианте алгоритма для самообучающейся системы. Идея подобной статьи зрела давно, однаĸо руĸи всё не доходили.
                </span>
            </div>
            <div class="row btn_row">
                <a href="/" class="span_a">Читать далее</a>
            </div>
        </div>
    </div>
</body>
</html>